@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
/*font-family: 'Bebas Neue', cursive;*/
@font-face{
	font-family: "museo";
	src: url("fonts/MuseoSansCyrl_1.otf");
}

*, *:before, *:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #fff;
}

header{
	background: url("../src/header.jpg") no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 80vh;
}

.header__bar{
	position: fixed;
	width: 100%;
	height: 55px;
	z-index: 2;
}

.header__bar--logo{
	position: absolute;
	top: 18px;
	left: 14px;
}

.header__bar--logo img{
	width: 35vw;
	height: auto;
}

.header__bar--menu{
	position: absolute;
	top: 18px;
	right: 14px;	
	width: 20px;
}

.header__bar--menu img{
	width: 45px;
	height: auto;
	float: right;
}

h1, h3{
	font-family: 'Bebas Neue', cursive;
	color: #fff;
}

.header__h1{
	position: absolute;
	top: 30%;
	left: 14px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 90px;
	line-height: 80px;
	word-wrap: break-word;
}

.header__h3{
	position: absolute;
	top: 70%;
	left: 14px;
	font-family: "museo", sans-serif;
	text-transform: lowercase;
	font-weight: 400;
	font-size: 30px;
}

.buttonBlock{
	height: 20vh;
	width: 100%;
	background-color: #fff;	
	padding: 13px 20px;
}

.buttonBlock__mainButton{
	width: 100%;
	height: 100%;
	background-color: #FF3754;
	outline: none;
	border: none;
	color: #fff;
	font-size: 26px;
	letter-spacing: 5px;
	border-radius: 8px;
	cursor: pointer;
	transition: .4s;
}

.awards{
	margin: 0 auto;
	width: 85%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
}

.awards__paragraph{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	font-family: "museo", sans-serif;
	font-size: 1.5em;
	color: #000;
	background: transparent;
}

.awards__cup{
	width: 40px;
}

.awards__flag{
	width: 20px;
	margin: 0 10px;
}

.awards__paragraph:nth-child(1) p{
	background: #FF3754;
	color: #fff;
	font-size: 1.6em;
	border-radius: 5px;
	padding: 0 10px;
}

.second{
	width: 100%;
}

.second__header{
	font-size: 22px;
	text-align: center;
	color: #FF3754;
}