@font-face{
	font-family: "museo";
	src: url("../fonts/MuseoSansCyrl_1.otf");
}

@font-face{
	font-family: bebas;
	src: url("../fonts/BebasNeueRegular.ttf") format("truetype");
}

*, *:before, *:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #fff;
}

header{
	position: relative;
	background: url("../src/header.jpg") no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100vw;
}

.header__bar{
	position: fixed;
	width: 100%;
	height: 59px;
	z-index: 2;
}

.header__bar--logo{
	position: absolute;
	top: 18px;
	left: 14px;
}

.header__bar--logo img{
	width: 35vw;
	height: auto;
}

.header__bar--menu{
	position: absolute;
	top: 18px;
	right: 14px;	
	width: 20px;
}

.header__bar--menu img{
	width: 45px;
	height: auto;
	float: right;
}

h1, h3{
	font-family: bebas;
}

.header__h1{
	position: relative;
	top: 50%;
	margin-left: 10px; 
	margin-right: 10px;
	text-transform: uppercase;
	color: #fff;
	line-height: 1em;
	font-weight: bold;
	font-size: 50px;
	word-wrap: break-word;
}

.header__h3{
	position: absolute;
	bottom: 5%;
	margin-left: 10px;
	margin-right: 10px;
	font-family: "museo", sans-serif;
	color: #fff;
	text-transform: lowercase;
	font-weight: 400;
	font-size: 20px;
}

.buttonBlock{
	width: 100%;
	background-color: #fff;	
}

.buttonBlock__mainButton{
	height: 68px;
	width: 300px;
	margin: 20px auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #FF3754;
	outline: none;
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 4px;
	line-height: 100%;
	cursor: pointer;
	transition: .4s;
}

.awards{
	margin: 20px auto;
	width: 85%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
}

.awards__paragraph{
	margin: 5px auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	font-family: "museo", sans-serif;
	color: #000;
	background: transparent;
}

.awards__cup{
	width: 40px; /*origin - 45px*/
}

.awards__flag{
	width: 15px;
	margin: 0 10px;
}

.awards__paragraph p{
	background: transparent;
	color: #000;
	font-size: 14px;
}

.awards__paragraph:nth-child(1) p{
	background: #FF3754;
	color: #fff;
	border-radius: 5px;
	line-height: 40px;
	padding: 0 10px;
	font-size: 20px;
}

.second{
	position: relative;
	width: 100%;
}

.second__header{
	font-family: bebas;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
	color: #FF3754;
}

.profile{
	position: relative;
	text-align: center;
}

.profile__picture{
	position: relative;
	background: url('../src/profile.jpg') no-repeat;
	background-size: cover;
	width: 128px;
	height: 128px;
	border-radius: 64px;
	margin: 20px auto;
}

.profile__lastname{
	position: relative;
	font-size: 40px;
	color: #ff3754;
}

.profile__name{
	position: relative;
	font-family: bebas;
	font-size: 30px;
	font-weight: bold;
	color: #888888;
	margin-bottom: 23px;
}

.profile__description{
	position: relative;
	font-family: 'museo';
	text-transform: uppercase;
	top: 0;
	width: 100%;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.155em;
	color: #303030;
	text-align: center;
}

.profile__btn{
	position: relative;
	height: 40px;
	bottom: 0px;
	margin-top: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 156px;
	border: 1px solid #888888;
	border-radius: 4px;
	font-family: 'museo';
	text-transform: uppercase;
	font-size: 13px;
	line-height: 40px;
	letter-spacing: 0.155em;
	color: #888888;
	text-align: center;
}

ul{
	width: 70%;
	position: relative;
	top: 20px;
	left: 12px;
	list-style: none;	
}

ul li:before{
	content: "";
	right: 10px;
	width: 10px;
	height: 10px;
	background-color: #FF3754;
	border-radius: 3px 
}